.table{
    width: 73%;
    padding: 21px;
    margin-bottom: 45px;
    margin-left: 225px;
    border: 1px solid #7c6354;
    box-shadow: 1px 2px 10px 20px #7c6354;
}


.top{
    position: relative;
    left: -7px;
    top: 0px;
}
.cartimage {
    width: 157px;
}
.title{
    padding-top: 5px;
    line-height: 10px;
    text-align: center;
    width: 226px;
    font-size: 32px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
}

