.products {
  display: flex;
  padding-top: 80px;
  gap: 85px;
  padding-bottom: 119px;
  flex-wrap: wrap;
}

.image1 {
  height: 161px;
  width: 193px;
}

.topnav {
  background-color: #7c6354;
  width: 100%;
  text-align: center;
  height: 90px;
}

.logo {
  height: 200px;
  width: 200px;

}

.image-box {
  width: 15%;
  text-align: center;
}

.about {
  height: 77%;
  padding-left: 25px;

}


.Cart {
  margin: auto;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 882px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.image-box {
  width: 15%;
  text-align: center;
}

.about {
  height: 77%;
  padding-left: 25px;

}

.subtitle {
  line-height: 10px;
  font-size: 18px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  color: #000000;
}


.button {
  background-color: #6F732F;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 20px;
}

.button:hover {
  background-color: #9CAFB7;
}
.titlelink{
  text-decoration: none;
}