.shop {
    text-align: center;
    position: relative;
    list-style: none;
    font-size: 40px;
    text-decoration: none;
    color: #6F732F;
    top: 133px;
    /* text-decoration: underline; */
    border-bottom: 12px;
    padding-bottom: 4px;}
    
.home {
    position: absolute;
    top: 32px;
    font-size: 25px;
    text-decoration: none;
    left: 549px;
    color: black;
}
.addca{
    position: absolute;
    top: 111px;
    font-size: 27px;
    text-decoration: none;
    right: 36px;
    background-color:#6F732F;
    padding: 10px;
    color: rgb(0 0 0);
}
.cartnum {
    position: absolute;
    top: 67px;
    font-size: 33px;
    text-decoration: none;
    right: 19px;
    color: rgb(0 0 0);
   
}


.count {
    position: relative;
    top: 10px;
    left: 5px;
    font-size: 25px;
}
.sup{
    position: relative;
    top: 21px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: black;
    left: 13px;
    
}
